# Assessing the suitability of a dataset for deep learning
This notebook shows two examples of applying a fastai deep learning model to a tabular dataset. The goal of the notebook is to show a contrast between a unsuccessful application and a successful application.

In [49]:
# imports for notebook boilerplate
!pip install -Uqq fastbook
import fastbook
from fastbook import *
from fastai.tabular.all import *

In [50]:
# set up the notebook for fast.ai
fastbook.setup_book()

In [51]:
# imports specifically needed for this notebook
! pip install pandas_datareader
import numpy as np
import pandas as pd
import os
import yaml
# For reading stock data
from pandas_datareader.data import DataReader

# For time stamps
from datetime import datetime

Requirement already satisfied: pandas_datareader in /opt/conda/envs/fastai/lib/python3.8/site-packages (0.9.0)
Requirement already satisfied: lxml in /opt/conda/envs/fastai/lib/python3.8/site-packages (from pandas_datareader) (4.6.3)
Requirement already satisfied: requests>=2.19.0 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from pandas_datareader) (2.25.0)
Requirement already satisfied: pandas>=0.23 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from pandas_datareader) (1.1.4)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2020.11.8)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2020.4)
Requirement already satisfied: numpy>=1.15.4 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (1.19.4)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/fastai/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)

# Ingest the dataset
Uset the DataReader API to get a stock price dataset for a stock.

In [52]:
# Set up start and end times for the data load - a year previous
end_time = datetime.now()
start_time = datetime(end_time.year - 1, end_time.month, end_time.day)

In [53]:
# Use the DataReader API to get the stock prices for AZN (AstraZeneca)
df = DataReader('AZN', 'stooq')
df.head()

             Open    High     Low  Close   Volume
Date
2021-07-09  59.12  59.910  59.070  59.63  6173577
2021-07-08  59.45  59.670  58.830  59.26  6894951
2021-07-07  59.76  59.820  59.295  59.76  6434879
2021-07-06  60.41  60.555  59.870  59.90  6893637
2021-07-02  60.26  60.875  60.065  60.79  5198428

In [54]:
df.tail()

              Open    High     Low   Close    Volume
Date
2016-07-18  25.531  25.658  25.503  25.591   6983834
2016-07-15  25.480  25.513  25.231  25.330   8774132
2016-07-14  25.531  25.550  25.263  25.415  11345005
2016-07-13  25.389  25.528  25.255  25.263  11485284
2016-07-12  25.021  25.389  24.987  25.299  13560891

In [55]:
df.shape

(1258, 5)

In [56]:
# check for missing values
count = df.isna().sum()
df_missing = (pd.concat([count.rename('missing_count'),
                     count.div(len(df))
                          .rename('missing_ratio')],axis = 1)
             .loc[count.ne(0)])

In [57]:
# check for missing values
df_missing

Empty DataFrame
Columns: [missing_count, missing_ratio]
Index: []

# Build and train the first model
For the fist model, use fastai defaults for everything.

In [58]:
dep_var = 'Close'
# define columns that are continuous / categorical
cont,cat = cont_cat_split(df, 1, dep_var=dep_var) 
print("continuous columns are: ",cont)
print("categorical columns are: ",cat)

continuous columns are:  ['Open', 'High', 'Low', 'Volume']
categorical columns are:  []

In [59]:
procs = [Normalize]
dls = TabularDataLoaders.from_df(df,procs= procs, 
                                 cat_names= cat, cont_names = cont, 
                                 y_names = dep_var, 
                                 valid_idx=list(range((df.shape[0]-50),df.shape[0])), bs=64)

In [60]:
dls.valid.show_batch()

In [61]:
# define and fit the model
learn = tabular_learner(dls, metrics=accuracy)
learn.fit_one_cycle(3)

# Build and train the second model
Revise the model:
- define a new target column to act as a categorical dependent variable (replacing the continuous dependent variable from the first model)
- explicitly select a subset of columns to train the model rather taking the set provided by default by cont_cat_split()

In [62]:
def get_target(value,threshold):
    '''return based on whether the input value is greater than or less than input threshold'''
    if value <= threshold:
        return_value = "0"
    else:
        return_value = "1"
    return(return_value)

In [63]:
threshold = df['Close'].mean()
df['target'] = df['Close'].apply(lambda x: get_target(x,threshold))

In [64]:
df['target'].value_counts()

0    722
1    536
Name: target, dtype: int64

In [65]:
dep_var = 'target'

In [66]:
cont = ['High', 'Low', 'Open', 'Volume']

In [67]:
dls = TabularDataLoaders.from_df(df,procs= procs, 
                                 cat_names= cat, cont_names = cont, 
                                 y_names = dep_var, 
                                 valid_idx=list(range((df.shape[0]-50),df.shape[0])), bs=64)
learn = tabular_learner(dls, metrics=accuracy)
learn.fit_one_cycle(30)

In [68]:
df_results = learn.show_results(max_n=50)