# Loading a saved model trained with a tabular dataset in fast.ai
- Example of loading a model trained with a tabular dataset in fast.ai.


The example shown here is adapted from the paper by Howard and Gugger https://arxiv.org/pdf/2002.04688.pdf

# Prepare the notebook
Import the required libraries and set up the notebook

In [1]:
# imports for notebook boilerplate
!pip install -Uqq fastbook
import fastbook
from fastbook import *
from fastai.tabular.all import *

In [2]:
# set up the notebook for fast.ai
fastbook.setup_book()

# Load the saved, trained model
- load the saved model
- load the test dataset
- apply the model to a row from the test dataset

In [3]:
# set the path depending on platform
if 'google.colab' in str(get_ipython()):
    temp_path = Path('/content/gdrive/MyDrive/fastai_cookbook/Deep-Learning-with-fastai-Cookbook/ch3/')
else:
    temp_path = Path(os.getcwd())

In [4]:
# load the trained model
learn = load_learner(os.path.join(temp_path,'adult_sample_model.pkl'))

In [5]:
# load a test dataset
sample_URL = 'https://raw.githubusercontent.com/PacktPublishing/Deep-Learning-with-fastai-Cookbook/main/ch3/adult_sample_test.csv'
df_test = pd.read_csv(sample_URL)

In [6]:
df_test.shape

(128, 14)

In [7]:
df_test.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States

In [8]:
# inspect a row of the test sample
df_test.iloc[0]

age                                49
workclass                     Private
fnlwgt                         101320
education                  Assoc-acdm
education-num                      12
marital-status     Married-civ-spouse
occupation                        NaN
relationship                     Wife
race                            White
sex                            Female
capital-gain                        0
capital-loss                     1902
hours-per-week                     40
native-country          United-States
Name: 0, dtype: object

In [9]:
# get a prediction from the saved model on a sample test record
test_sample = df_test.iloc[0]
learn.predict(test_sample)

(   workclass  education  marital-status  occupation  relationship  race  sex  \
 0        5.0        8.0             3.0         0.0           6.0   5.0  1.0

    native-country  education-num_na   age    fnlwgt  education-num  \
 0            40.0               1.0  49.0  101320.0           12.0

    capital-gain  capital-loss  hours-per-week  salary
 0           0.0        1902.0            40.0     1.0  ,
 tensor(1),
 tensor([0.1678, 0.8322]))